

pip install flask opencv-python imageio imageio-ffmpeg

pip install pyinstaller

pip install --upgrade importlib_resources

pyinstaller --name=flask_app --onefile --add-data "templates;templates" --add-data "uploads;uploads" app.py

